body {
    background-color: rgb(71, 71, 143);
    color: white;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;        
    margin: auto;
}
.link {
    display: grid;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    
}



ul,ol,li {
    padding: 10px;
}
